@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
body {
    font-family: 'Rajdhani', sans-serif;
    font-weight:600 !important;
}
.nav-link{
    font-size:1.5rem !important;
}
.pagehead
{
    font-size:1.5rem !important;
}
.size
{
    font-size:14px !important;
}
a{
    text-decoration:none;
}
/*.nav-item:hover {
    border-bottom-color: midnightblue;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    display: block;
}*/
